---
export type TerminalTitleBarButtonProps = {
  variant?: "square" | "circle";
};
type Props = TerminalTitleBarButtonProps;

const { variant = "square" } = Astro.props;
---

<button
  class:list={[
    "flex",
    "justify-center",
    "items-center",
    "bg-terminal-menu-bar-btn-bg",
    "hover:bg-terminal-menu-bar-btn-hover-bg",
    "transition-colors",
    "select-none",
    variant === "square" && [
      "rounded-[4px]",
      "h-9",
      "w-10",
      "border",
      "border-terminal-menu-bar-btn-border",
    ],
    variant === "circle" && ["rounded-full", "h-6", "aspect-square"],
  ]}
>
  <slot />
</button>
