---
export type TerminalTitleBarButtonProps = {
  variant?: 'square' | 'circle';
};
type Props = TerminalTitleBarButtonProps;

const { variant = 'square' } = Astro.props;
---

<button
  class:list={[
    'border',
    'border-terminal-menu-bar-btn-border',
    'flex',
    'justify-center',
    'items-center',
    'bg-terminal-menu-bar-btn-bg',
    'hover:bg-terminal-menu-bar-btn-hover-bg',
    'aspect-square',
    'h-6',
    'transition-colors',
    'select-none',
    variant === 'square' && ['rounded-[4px]'],
    variant === 'circle' && ['rounded-full'],
  ]}
>
  <slot />
</button>
