---
import type { CollectionEntry } from 'astro:content';
import { PortfolioItems } from './components/PortfolioItems';

export type PortfolioProps = {
  items: CollectionEntry<'portfolio'>[];
};
type Props = PortfolioProps;

const { items } = Astro.props;
---

<script>
  import { gsap } from '@/utils';

  const portfolioSection = document.querySelector('#portfolio');
  const portfolioHeading = document.querySelector('.portfolioHeading');
  const portfolioSubheading = document.querySelector('.portfolioSubheading');
  const portfolioContent = document.querySelectorAll('.portfolioContent');
  const portfolioDevice = document.querySelector('.portfolioDevice');
  const portfolioItemHeading = document.querySelector('.portfolioItemHeading');
  const portfolioItemSubheading = document.querySelector(
    '.portfolioItemSubheading'
  );
  const portfolioItemContent = document.querySelector('.portfolioItemContent');
  const portfolioVisitLink = document.querySelector('.portfolioVisitLink');
  const portfolioMoreDetailsButton = document.querySelector(
    '.portfolioMoreDetailsButton'
  );
  const portfolioNavButtons = document.querySelectorAll('.portfolioNavButtons');
  const portfolioScreenshot = document.querySelectorAll('.portfolioScreenshot');

  const timeline = gsap.timeline({
    scrollTrigger: {
      trigger: portfolioSection,
    },
    defaults: {
      delay: -0.25,
      duration: 0.5,
    },
  });

  timeline
    .to(portfolioHeading, { y: 0, opacity: 1 })
    .to(portfolioSubheading, { y: 0, opacity: 1 })
    .to(portfolioContent, { y: 0, opacity: 1 })
    .to(portfolioDevice, { x: 0, opacity: 1 })
    .to(portfolioScreenshot, { opacity: 1 })
    .to(portfolioItemHeading, { y: 0, opacity: 1 })
    .to(portfolioItemSubheading, { y: 0, opacity: 1 })
    .to(portfolioItemContent, { y: 0, opacity: 1 })
    .to(portfolioVisitLink, { y: 0, opacity: 1 })
    .to(portfolioMoreDetailsButton, { y: 0, opacity: 1 })
    .to(portfolioNavButtons, { y: 0, opacity: 1 });
</script>

<section
  id="portfolio"
  class:list={['w-full', 'flex', 'flex-col', 'gap-5', 'justify-center']}
>
  {
    (Astro.slots.has('heading') || Astro.slots.has('subheading')) && (
      <div class:list={['flex', 'flex-col', 'w-full', 'gap-2']}>
        {Astro.slots.has('heading') && (
          <h2
            class:list={[
              'portfolioHeading',
              'translate-y-12',
              'opacity-0',
              'text-accent-1',
              'font-bold',
              'text-6xl',
              'md:text-center',
            ]}
          >
            <slot name="heading" />
          </h2>
        )}

        {Astro.slots.has('subheading') && (
          <h3
            class:list={[
              'portfolioSubheading',
              'translate-y-12',
              'opacity-0',
              'text-tertiary',
              'font-mono',
              'text-xl',
              'md:text-center',
            ]}
          >
            <slot name="subheading" />
          </h3>
        )}
      </div>
    )
  }

  {
    Astro.slots.has('content') && (
      <div
        class:list={[
          'portfolioContent',
          'translate-y-12',
          'opacity-0',
          'w-full',
          'flex',
          'flex-col',
          'gap-5',
          'md:text-center',
        ]}
      >
        <p>
          <slot name="content" />
        </p>
      </div>
    )
  }

  <PortfolioItems client:load items={items} />
</section>
