---
import TerminalManSection from '@/components/TerminalWindow/components/TerminalManSection/TerminalManSection.astro';
import TerminalWindow from '@/components/TerminalWindow/TerminalWindow.astro';
import { differenceInYears } from 'date-fns';
import { t } from 'i18next';
import Layout from '../layouts/Layout.astro';
import { marked } from 'marked';

const age = differenceInYears(new Date(), new Date('1999-04-17'));
---

<Layout>
  <TerminalWindow>
    <!-- man command -->
    <span>
      <span
        class:list={[
          'text-terminal-text-2',
          'font-bold',
          'selection:bg-terminal-text-2',
          'selection:text-terminal-bg',
        ]}>{t('terminal.user')}@{t('terminal.domain')}</span
      >:<span
        class:list={[
          'text-terminal-text-3',
          'selection:bg-terminal-text-3',
          'selection:text-terminal-bg',
        ]}>~</span
      >$

      <span>{t('terminal.home.manCommand')}</span>
    </span>

    <!-- man command output -->
    <span class:list={['pr-4']}>
      <!-- Header -->
      <div class:list={['flex', 'justify-between']}>
        <span>
          <span class:list={['underline']}
            >{t('terminal.home.manOutput.header.name')}</span
          ><span>(1)</span>
        </span>
        <span>{t('terminal.home.manOutput.header.title')}</span>
        <span>
          <span class:list={['underline']}
            >{t('terminal.home.manOutput.header.name')}</span
          ><span>(1)</span>
        </span>
      </div>

      <!-- Content -->
      <div class:list={['flex', 'flex-col']}>
        <!-- Name -->
        <TerminalManSection title={t('terminal.home.manOutput.name.title')}>
          <span>{t('terminal.home.manOutput.name.content')}</span>
        </TerminalManSection>

        <!-- Synopsis -->
        <TerminalManSection title={t('terminal.home.manOutput.synopsis.title')}>
          <a
            href="/portfolio"
            class:list={['w-fit', 'hover:underline', 'font-bold']}
            >{t('terminal.home.manOutput.synopsis.content.portfolio')}</a
          >
          <a
            href="/experience"
            class:list={['w-fit', 'hover:underline', 'font-bold']}
            >{t('terminal.home.manOutput.synopsis.content.experience')}</a
          >
          <a
            href="/skills"
            class:list={['w-fit', 'hover:underline', 'font-bold']}
            >{t('terminal.home.manOutput.synopsis.content.skills')}</a
          >
          <a
            href="/education"
            class:list={['w-fit', 'hover:underline', 'font-bold']}
            >{t('terminal.home.manOutput.synopsis.content.education')}</a
          >
          <a
            href="/contact"
            class:list={['w-fit', 'hover:underline', 'font-bold']}
            >{t('terminal.home.manOutput.synopsis.content.contact')}</a
          >
        </TerminalManSection>

        <!-- Description -->
        <TerminalManSection
          title={t('terminal.home.manOutput.description.title')}
        >
          <span
            class:list={['[&_a]:font-bold', '[&_a:hover]:underline']}
            set:html={marked(
              t('terminal.home.manOutput.description.content.description', {
                age,
              })
            )}
          />

          <span>
            <br />

            {t('terminal.home.manOutput.description.content.hint')}
          </span>
        </TerminalManSection>
      </div>

      <br />

      <!-- Footer -->
      <div class:list={['flex', 'justify-between']}>
        <span>{process.env.npm_package_version}</span>
        <span>2024-12-25</span>
        <span>
          <span class:list={['underline']}
            >{t('terminal.home.manOutput.header.name')}</span
          ><span>(1)</span>
        </span>
      </div>
    </span>

    <span>
      <span
        class:list={[
          'text-terminal-text-2',
          'font-bold',
          'selection:bg-terminal-text-2',
          'selection:text-terminal-bg',
        ]}>{t('terminal.user')}@{t('terminal.domain')}</span
      >:<span
        class:list={[
          'text-terminal-text-3',
          'selection:bg-terminal-text-3',
          'selection:text-terminal-bg',
        ]}>~</span
      >$ <span
        class:list={[
          'selection:text-terminal-bg',
          'selection:bg-terminal-text-1',
        ]}>█</span
      >
    </span>
  </TerminalWindow>
</Layout>
