---
import Breadcrumb from '@/components/Breadcrumb/Breadcrumb.astro';
import CatalogCard from '@/components/pageSpecific/projectsCatalog/CatalogCard/CatalogCard.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import tailwindConfig from '../../../tailwind.config.mjs';

const projectEntries = await getCollection('projects');
---

<MainLayout
  title="Projects"
  description="A collection of projects I've worked on"
>
  <div
    slot="outer"
    class:list={['w-full', 'h-60', 'p-10', 'lg:h-80']}
    style={`background-color: ${
      (tailwindConfig.theme?.colors as Record<string, string> | undefined)
        ?.tertiary
    }`}
  >
  </div>

  <div class:list={['flex', 'flex-col', 'gap-8', 'pt-10']}>
    <Breadcrumb
      links={[
        {
          label: 'Home',
          href: '/',
        },
        {
          label: 'Projects',
          href: '/projects',
        },
      ]}
    />

    <div class:list={['flex', 'flex-col', 'gap-2']}>
      <h1 class:list={['text-6xl', 'text-accent-1']}>Projects</h1>
      <p class:list={['text-2xl', 'font-mono', 'text-tertiary']}>
        A collection of projects I've worked on
      </p>
    </div>

    <div
      class:list={[
        'grid',
        'grid-cols-1',
        'gap-5',
        'md:grid-cols-2',
        'lg:grid-cols-3',
      ]}
    >
      {projectEntries.map((entry) => <CatalogCard entry={entry} />)}
    </div>
  </div>
</MainLayout>
