<script>
  import { gsap } from '@/utils';

  const skillsSection = document.querySelector('#skills');
  const skillsHeading = document.querySelector('.skillsHeading');
  const skillsSubheading = document.querySelector('.skillsSubheading');
  const skillsContent = document.querySelectorAll('.skillsContent');

  const timeline = gsap.timeline({
    scrollTrigger: {
      trigger: skillsSection,
    },
    defaults: {
      delay: -0.25,
      duration: 0.5,
    },
  });

  timeline
    .to(skillsHeading, { y: 0, opacity: 1 })
    .to(skillsSubheading, { y: 0, opacity: 1 })
    .to(skillsContent, { y: 0, opacity: 1 });
</script>

<section
  id="skills"
  class:list={[
    'w-full',
    'flex',
    'flex-col',
    'gap-5',
    'justify-center',
    'md:flex-row-reverse',
    'md:justify-between',
    'md:gap-20',
    '[&>*]:md:flex-1',
    '[&_a:not(.button)]:text-accent-2',
    '[&_a:not(.button)]:underline',
    '[&_a:not(.button)]:transition',
    '[&_a:not(.button):hover]:bg-accent-2',
    '[&_a:not(.button):hover]:text-primary',
  ]}
>
  {
    (Astro.slots.has('heading') || Astro.slots.has('subheading')) && (
      <div
        class:list={['flex', 'flex-col', 'w-full', 'gap-2', 'md:text-right']}
      >
        {Astro.slots.has('heading') && (
          <h2
            class:list={[
              'skillsHeading',
              'translate-y-12',
              'opacity-0',
              'text-accent-1',
              'font-bold',
              'text-6xl',
            ]}
          >
            <slot name="heading" />
          </h2>
        )}

        {Astro.slots.has('subheading') && (
          <h3
            class:list={[
              'skillsSubheading',
              'translate-y-12',
              'opacity-0',
              'text-tertiary',
              'font-mono',
              'text-xl',
            ]}
          >
            <slot name="subheading" />
          </h3>
        )}
      </div>
    )
  }

  {
    Astro.slots.has('content') && (
      <div
        class:list={[
          'skillsContent',
          'translate-y-12',
          'opacity-0',
          'w-full',
          'flex',
          'flex-col',
          'gap-5',
        ]}
      >
        <slot name="content" />
      </div>
    )
  }
</section>
