---
import { t } from '@/utils';
import TerminalTitleBarButton from '../TerminalTitleBarButton/TerminalTitleBarButton.astro';
import { Icon } from 'astro-icon/components';
export type TerminalTitleBarProps = {
  title?: string;
};
type Props = TerminalTitleBarProps;

const { title = t('terminal.title') } = Astro.props;
---

<div
  class:list={[
    'p-2',
    'flex',
    'justify-between',
    'bg-terminal-menu-bar-bg',
    'items-center',
  ]}
>
  <TerminalTitleBarButton>
    <Icon name="ubuntu-window-new-tab" />
  </TerminalTitleBarButton>

  <span class:list={['text-ellipsis', 'select-none']}>
    {title}
  </span>

  <div class:list={['flex', 'gap-3', 'items-center']}>
    <div class:list={['flex', 'gap-2']}>
      <TerminalTitleBarButton>
        <Icon name="ubuntu-window-search" />
      </TerminalTitleBarButton>
      <TerminalTitleBarButton>
        <Icon name="ubuntu-window-menu" />
      </TerminalTitleBarButton>
    </div>

    <div class:list={['flex', 'gap-3', 'items-center']}>
      <TerminalTitleBarButton variant="circle">
        <Icon name="ubuntu-window-minimize" size={8} />
      </TerminalTitleBarButton>
      <TerminalTitleBarButton variant="circle">
        <Icon name="ubuntu-window-maximize" size={8} />
      </TerminalTitleBarButton>
      <TerminalTitleBarButton variant="circle">
        <Icon name="ubuntu-window-close" size={8} />
      </TerminalTitleBarButton>
    </div>
  </div>
</div>
